In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

       <DATE>    <TIME>  <OPEN>  <HIGH>   <LOW>  <CLOSE>  <VOL>
0  01.09.2020  10:00:00  113700  115257  108096   112635     32
1  01.09.2020  10:01:00  112631  115295  107977   108568     12
2  01.09.2020  10:02:00  110492  115269  108051   108948     68
3  01.09.2020  10:03:00  110768  114969  108112   112787     67
4  01.09.2020  10:04:00  113211  115184  107911   112312     92

In [56]:
k = df
k = k.loc[['24.11.2020'], ['<OPEN>','<HIGH>','<LOW>','<CLOSE>','<VOL>']]
k

            <OPEN>  <HIGH>   <LOW>  <CLOSE>  <VOL>
<DATE>
24.11.2020  108810  115175  107903   109303      2
24.11.2020  110480  115273  107978   115273      5
24.11.2020  115039  115295  108020   109152     48
24.11.2020  109502  114816  107984   114816     11
24.11.2020  108767  114946  108117   110051     32
...            ...     ...     ...      ...    ...
24.11.2020  113028  115196  107948   113101     85
24.11.2020  108284  115182  107937   110436      5
24.11.2020  108051  115133  107919   108170     85
24.11.2020  112569  115256  107934   114189     49
24.11.2020  113082  115087  107997   113852     77

[593 rows x 5 columns]

In [62]:
ans = 0
for x in range(0, len(k)):
  if(k['<OPEN>'][x] > k['<CLOSE>'][x]): 
    ans += 1
ans

287